<!-- <mat-expansion-panel *ngFor="let key of keys" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>{{key.toUpperCase()}}</b>
    </mat-panel-title>

  </mat-expansion-panel-header>

  <ul class="grid" dragula="SIDEBAR" id="left" [(dragulaModel)]="data[key]">
    <li class="grid_item" *ngFor="let item of data[key]">
      <div class="tile"><img src="{{item.imageUrl}}" /></div>
    </li>

  </ul>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>Components</b>
    </mat-panel-title>

  </mat-expansion-panel-header>

  <div id="blocks">

  </div>
</mat-expansion-panel> -->
<div id="blocks">

</div>