<header>
  <div id="logo"><img src="images/mashup-builder_01.gif" /></div>
  <div id="downloadbtn"><a><img src="images/mashup-builder_06.gif" alt="Download" /></a></div>
  <input id="codebtn" type="image" routerLink="/code" src="images/mashup-builder_05.gif" alt="Code">
  <div id="editbtn"><a routerLink="/edit"><img src="images/mashup-builder_04.gif" alt="Edit" /></a></div>
  <div id="controls"><a><img src="images/mashup-builder_03.gif" /></a></div>
</header>

<!-- <header>
  <div id="logo"><img src="images/mashup-builder_01.gif" /></div>
  <div id="downloadbtn"><a><img src="images/m_download.png" alt="Download" /></a></div>
  <input id="codebtn" type="image" routerLink="/code" src="images/m_code.png" alt="Code">
  <div id="editbtn"><a routerLink="/edit"><img src="images/m_edit.png" alt="Edit" /></a></div>
  <div id="controls"><a><img src="images/mashup-builder_03.gif" /></a></div>
</header> -->