<h2 style="text-align:center;line-height:500px; ">
  Code view
</h2>

<!-- <core-grid-datatypes apirequest='{"handlerURL":"https://my-json-server.typicode.com/VelmuruganHCL/gridDemo/db"}' tableconfig='{"id":"materialsummary","theme":"blue","title":{"text":"Employee Details","align":"center","style":{"fontSize":"18px","fontWeight":"bold","fontFamily":"Arial, Helvetica, sans-serif","color":"#333333"}},"subtitle":{"text":"Employee details table","align":"center","style":{"fontSize":"14px","fontFamily":"Arial, Helvetica, sans-serif","fontWeight":"normal","color":"#666666"}},"search":{"enabled":true},"cellTemplate":[{"name":"checkbox","value":"empid","enabled":true},{"name":"legend","value":["empid","empname"],"color":["#FFD042","#db8f25"],"enabled":true},{"name":"link","value":["empid"],"enabled":true},{"name":"icon","icons":["edit","delete","download"],"enabled":true}]}'></core-grid-datatypes> -->

